<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Кулон 912</title>
    <meta name="description" content="Кулон 912">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body ng-app="yoApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">
              <img src="/images/balsat.png" alt="">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#!/">test</a></li>
              <li class=""><a href="#!/charge">Заряд АКБ</a></li>
              <li class=""><a href="#!/power">Блок питания</a></li>
              <li><a href="#!/settings">Настройки</a></li>
              <!-- <li><a ng-href="/edit">Редактор</a></li> -->
            </ul>
            <div class="label-warning" ng-show="wsStatus">
            </div>
            <form class="navbar-form navbar-right" name='ws-ip' ng-submit="wsConnect(ip)">
              <div  ng-show="!wsStatus()"  class="form-group">
                <input type="text" name='ip' ng-model='ip' class="form-control" placeholder="ip" value="esp8266fs.local.">
                <button  type="submit" class="btn btn-success">Ok</button>

              </div>
              <span class="label label-danger"  ng-show="!wsStatus()">ws disconnected</span>
              <span class="label label-success"  ng-show="wsStatus()">ws connected</span>
            </form>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <div ng-view=""></div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a href="http://supportdownload.apple.com/download.info.apple.com/Apple_Support_Area/Apple_Software_Updates/Mac_OS_X/downloads/061-8098.20100603.gthyu/BonjourPSSetup.exe" class="navbar-brand">

            bonjour
          </a>

        </div>
        <div class=" center-block">
          <!-- <div class="col-xs-4">
            <button class="btn btn-danger  btn-block  navbar-btn " ng-click="error()">назад</button>

          </div> -->
          <div class="btn-group  navbar-right ">
            <button class="btn btn-warning  navbar-btn " ng-click="success('сохранение')">сохранить</button>
            <button class="btn btn-success navbar-btn " ng-click="wsSend()">пуск</button>
          </div>
        </div>





        <!-- Collect the nav links, forms, and other content for toggling -->
      </div><!-- /.container-fluid -->
    </nav>

    <script type="text/ng-template" id="bslider.html">
      <div class="form-group form-horizontal bslider">
        <div class="row">
          <div class="col-xs-9">
            <label class="control-label">
              <ng-transclude></ng-transclude>
            </label>
            <slider class="bslider-slider" ng-model="bindModel" min="defs.min" step="defs.step" max="defs.max"></slider>

          </div>
          <div class="col-xs-3">
            <input type="number"  min="{{defs.min}}" step="{{defs.step}}" max="{{defs.max}}" class="form-control big" ng-model="bindModel">
            <span class="big absolute">{{defs.key}}</span>
          </div>
        </div>
      </div>
    </script>
    <script src="scripts/vendor.js"></script>

        <script src="scripts/scripts.js"></script>

        <!-- goole analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97088737-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!-- goole analytics -->

</body>
</html>
